@import 'styles/theme';


.dashboard {
  &.container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width:720px;
    max-height: 38em;
    box-shadow: $dropShadow;
    margin-right: 3%;
  }
  &.hr.rounded {
    border-top: 2px solid $accent1;
    border-radius: 2px;
    background-color: $accent1;
    width: 100%
  }
  &.deck-list {
    max-height: 30em;
    list-style: none;
    padding: 0;
    display: flex;
    flex-flow: row wrap;
    overflow:auto;
  }
  .deck-list::-webkit-scrollbar {/*overall style of the scroll*/
    width: 10px;     /*size of scroll*/
    height: 1px;
  }
  .deck-list::-webkit-scrollbar-thumb {/*thumb of the scroll*/
      border-radius: 10px;
      -webkit-box-shadow: inset 0 0 5px rgba(0,0,0,0.2);
      background: $accent2
  }
  .deck-list::-webkit-scrollbar-track {/*track of the scroll*/
      -webkit-box-shadow: inset 0 0 5px rgba(0,0,0,0.2);
      border-radius: 10px;
      background: lighten($background, 5);
  }
  &.deck-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  & p,h2 {
    margin: 0em 0;
  }
  &.layout {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    padding-right: 10px;
    width: 100%
  }
  &.right {
    display: flex;
    flex-direction: column;
    width: 47%;
    margin-right: 20px;
    margin-top: 10px;
  }
  &.top {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
    margin-right: 20px;
  }
  &.buttons {
   display: flex;
   flex-direction: row;
  }
  &.logout {
    margin-left: 4px;
  }
  &.button-container {
    display: flex;
    justify-content: center;
    width: 100%
  }
}

.large-button {
  & p,h2 {
    margin: 0em 0;
  }
  &.container {
    cursor: pointer;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    margin-top: 10px;
    margin-right: 20px;
    border-radius: 7px;
    padding: 8px;
    height: 217px;
    width: 160px;
    background-color: $accentDark;
    &:hover {
      transform: translateY(-2px);
    }
  }
  &.hr.rounded {
    border-top: 2px solid $accent;
    border-radius: 2px;
    background-color: $accent;
    width: 100%;
  }
  &.title {
    color: $accent;
    text-align: center;
    font-size: 14pt;
  }
  &.image {
    height: 50%;
    margin-bottom: 30px;
  }
}

.join {
  &.container {
    width: 100%;
    padding: 4px;
    background-color: $accent1;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    border-radius: 7px;
  }
  &.field {
    border: 2px solid $accentDark;
    border-radius: 7px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    margin-right: 4px;
  }
  &.input {
    height: 35px;
    padding-left: 15px;
    border: none;
    border-radius: 0.25em;
    background: $accent1;
    color: $textColor;
  }
}

.deck-block{
  &.container{
      margin-bottom: 20px;       
      margin-right: 10px;
      margin-left: 10px;
      height: 7em;
      width: 46%;
      background:$accent1;
      padding: 10px;
      border-radius: $borderRadius;
      display: flex;
      flex-direction: row;
  }
  &.title{
      font-weight: 500;
      font-size: 1.25em;
      margin-left: 15px;
      color: black;
      margin-top: 0;
  }
  &.creator{
      font-weight: 500;
      margin-top: -10px;
      margin-left: 15px;
  }
  &.text-container{
      width: 70%;
  }
  &.button-container{
      flex-direction: row;
      margin-left: 12%;
      width: 180%;
      margin-top: -30px;
  }
  &.view-deck{
      height: 2.5em;
      width: 45%;
      background-color: $accent;
      margin-left:0;
      margin-right: 10px;
  }
  &.add-deck{
      height: 2.5em;
      width: 45%;
      background-color: $accent3;
  }
  &.image-container{
      height: 5.8em;
      width: 5.8em;
      border-radius: 10px;
      background:$accent2;
  }
  &.content-container{
      display: flex;
      flex-direction: column;
  }
}
.search{
  &.search-field-container{
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
  }
  &.label{
    font-size: 1.5em;
  }
  &.image{
    height: 29px;
  }
  &.input{
    width: -webkit-fill-available;
    margin-left: 5px;
    height: 35px;
    padding-left: 15px;
    border: solid;
    border-width: 1px;
    border-radius: 5px;
    border-color: $accent2;
    background-color: $accent1;
    color: $textColor;
  }
  &.search-button{
    width: 12%;
    margin-left: 10px;
  }
  &.cancel-button{
    width: 12%;
    margin-left: 10px;
    background-color: $accent2;
    padding-top: 7px;
  }
}
