@import 'styles/theme';

.library{
    &.container{
        display: flex;
        flex-direction: column;
        margin-left: 20px;
        margin-right: 20px;
        margin-top: 15px;
        height: 38em;
        background: radial-gradient(closest-corner, $accent3, $accentDark);;
        padding: 1em;
        border-radius: $borderRadius;
    }
    &.buttons-container{
        display: flex;
        flex-direction: row;
        align-items: auto;
    }
    &.to-dashboard{
        width: 16em;
        margin-top: 5px;
        margin-left: 12px;
        margin-right: 60%;
    }
    &.to-public{
        width: 16em;
        margin-top: 5px;
        margin-right: 10px;
    }
    &.new-deck{
        width: 16em;
        margin-top: 5px;
        margin-right: 13px;
    }
    &.title{
        font-weight: 600;
        font-size: 20pt;
        color: $accent1;
        margin-left: 13px;
        margin-top: 5px;
        margin-bottom: 5px;
    }
    &.deck-list{
        list-style: none;
        padding: 0;
        display: flex;
        flex-direction: row;
        margin-left: 2px;
        margin-right: 2px;
        flex-flow: row wrap;
        overflow:auto;
    }
    .deck-list::-webkit-scrollbar {/*overall style of the scroll*/
        width: 10px;     /*size of scroll*/
        height: 1px;
    }
    .deck-list::-webkit-scrollbar-thumb {/*thumb of the scroll*/
        border-radius: 10px;
         -webkit-box-shadow: inset 0 0 5px rgba(0,0,0,0.2);
        background: $accent2
    }
    .deck-list::-webkit-scrollbar-track {/*track of the scroll*/
        -webkit-box-shadow: inset 0 0 5px rgba(0,0,0,0.2);
        border-radius: 10px;
        background: lighten($background, 5);
    }
    &.hr.rounded {
      border-top: 2px solid $accent1;
      border-radius: 2px;
      background-color: $accent1;
      width: 100%
    }
}

.deck{
    &.container{
        margin-bottom: 20px;       
        margin-right: 10px;
        margin-left: 10px;
        height: 7em;
        width: 31.6%;
        background:$accent1;
        padding: 10px;
        border-radius: $borderRadius;
        display: flex;
        flex-direction: row;
    }
    &.title{
        font-weight: 500;
        font-size: 1.25em;
        margin-left: 15px;
        color: black;
        margin-top: 0;
    }
    &.creator{
        font-weight: 500;
        margin-top: -10px;
        margin-left: 15px;
    }
    &.text-container{
        width: 70%;
    }
    &.button-container{
        flex-direction: row;
        margin-left: 12%;
        width: 130%;
        margin-top: -13px;
    }
    &.view-deck{
        height: 2.5em;
        width: 45%;
        background-color: $accent;
        margin-left:0;
        margin-right: 10px;
    }
    &.delete-deck{
        height: 2.5em;
        width: 45%;
        background-color: $accent3;
    }
    &.image-container{
        height: 5.8em;
        width: 5.8em;
        border-radius: 10px;
        background:$accent2;
    }
    &.content-container{
        display: flex;
        flex-direction: column;
    }
}
