@import 'styles/theme';

.game {
  &.close-container {
    position: absolute;
    cursor: pointer;
    right: 10px;
    top: 10px;
    height: 2em;
  }

  &.field {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  &.label {
    color: $background;
    margin-bottom: 5px;
    text-transform: lowercase;
    font-weight: 300;
  }

  &.body {
    width: 100vw;
    height: 100vh;
    background: radial-gradient(closest-corner, $accent3, $accentDark);
  }
  &.container {
    margin-top: 10px;
    padding: 1em;
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }
  &.window {
    margin-top: 5em;
    background: $accent1;
    padding: 1em;
    width: 55%;
    height: auto;
    border-radius: $borderRadius;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: $dropShadow;
    color: $accent4;
  }
}

.card {
  &.background {
    fill: #ceb791;
  }
  &.stroke {
    fill-opacity: 0%;
    stroke: $background;
    stroke-width: 2px;
  }

  &.rect {
    position: absolute;
    fill: $background;
  }

  &.title {
    pointer-events: none;
    fill: $accentDark;
    font: bold 12px sans-serif;
  }

  &.value {
    pointer-events: none;
    text-anchor: end;
    fill: $accentDark;
    font: bold 7px sans-serif;
  }

  &.value-name {
    pointer-events: none;
    fill: $accent5;
    font: 7px sans-serif;
  }
}

.card-container {
  position: absolute;

  & svg{
    position: absolute;
  }

  &.username{
    position: relative;
    font-size: 20px;
    margin-top: 0px;
    margin-bottom: 2px;
    text-align: center;
  }
}

.played-card-container {
  position: absolute;

  & svg{
    position: absolute;
  }

  &.username{
    position: relative;
    font-size: 20px;
    margin-top: 0px;
    margin-bottom: 2px;
    text-align: center;
  }
}