@import 'styles/theme';

/* The '&' is a shorthand for the containing element,
  so for example a '&.user-list' inside .game will compile to
  .game.user-list

  for more information visit https://sass-lang.com/guide
 */

.lobby {
  &.container {
    margin-top: 10px;
    background: radial-gradient(closest-corner, $accent3, $accentDark);
    padding: 1em;
    width: 55%;
    height: auto;
    border-radius: $borderRadius;
    display: flex;
    flex-direction: row;
    align-items: center;
    box-shadow: $dropShadow;
    color: $accent1;
  }
  &.player-list {
    list-style: none;
    padding-left: 0;
    margin-top: 0;
  }
  &.player-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
  }
  & p,h2 {
    margin: 0em 0;
  }
  &.code {
    font-size: 50pt;
    color: $accent;
  }
  &.dark {
  color: $accentDark;
  font-size: 20pt;
  }
  &.hr.rounded {
    border-top: 3px solid $accentDark;
    border-radius: 1px;
    background-color: $accentDark;
    width: 100%;
  }
  &.button-container {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: flex-end;
    height: 100%;
  }
  &.cancel {
    margin-bottom: 4px;
    background-color: $accent1;
    color: $accentDark;
  }
  &.start {
    color: $accentDark;
  }
  &.right {
    display: flex;
    flex-direction: column;
    height: 20em;
    margin-top: auto;
    margin-left: 1em;
  }
  &.mute-container {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    width: 30%;
  }
  &.mute {
    height: 25px;
    margin-bottom: 55px;
    cursor: pointer;
  }
  &.left {
    display: flex;
    flex-direction: column;
    width: 70%;
  }
  &.header {
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    & p {
      margin-bottom: 13px;
    }
  }
  &.players {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    background-color: $accent1;
    height: 20em;
    border-radius: $borderRadius;
    padding: 4px;
  }
  &.players-header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
  }
}

.play-deck {
  &.container {
    background: $accent1;
    width: 100%;
    height: auto;
    padding: 0em;
    border-radius: $borderRadius;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    color: #000000;
  }

  &.image {
    width: 100%;
    border-radius: $borderRadius $borderRadius 0 0;
  }

  &.title {
    margin-left: 3px;
    font-size: 16pt;
  }
  &.cards {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    width: 100%;
    padding: 3px;
  }

  &.cards-num {
    margin-left: 2px;
    font-size: 15pt;
    margin-right: 3px;
    color: $accentDark;
  }

  &.card-icon {
    height: 25px;
  }
}

.player {
  &.container {
    margin: 0.5em 0;
    padding: 6px;
    border-radius: $borderRadius;
    display: flex;
    align-items: center;
    background: $accent3;
  }
  &.name {
    font-weight: 300;
    color: $accent;
  }
}