@import 'styles/theme';
.searchImage{
    &.container{
        display: flex;
        flex-direction: column;
        width: 80%;
        margin-left: 10%;
        margin-top: 10px;
        background: radial-gradient(closest-corner, $accent3, $accentDark);;
        padding: 1em;
        border-radius: $borderRadius;
        max-height: 37em;
    }
    &.search-field-container{
        display: flex;
        flex-direction: row;
    }
    &.label{
        font-size: 1.5em;
    }
    &.image{
        margin-left: 10px;
    }
    &.input{
        width: 85%;
        margin-left: 10px;
        height: 35px;
        padding-left: 15px;
        border: solid;
        border-width: 1px;
        border-radius: 5px;
        border-color: $accent2;
        background-color: $accent1;
        color: $textColor;
    }
    &.search-button{
        margin-left: 10px;
    }
    &.cancel-button{
        margin-left: 10px;
        background-color: $accent2;
    }
    &.buttons-container{
        margin-top: 10px;
        display: flex;
        flex-direction: row;
        width: 100%;
    }
    &.previous-button{
        width: 10em;
        margin-left: 35%;
        background-color: $accent2;
    }
    &.next-button{
        width: 10em;
        margin-left: 20px;
        background-color: $accent2;
    }
    &.pics-list {
        width: 100%;
        margin-top: 20px;
        list-style: none;
        display: flex;
        flex-direction: row;
        flex-flow: row wrap;
        overflow:auto;
    }
    .pics-list::-webkit-scrollbar {/*overall style of the scroll*/
        width: 10px;     /*size of scroll*/
        height: 1px;
    }
    .pics-list::-webkit-scrollbar-thumb {/*thumb of the scroll*/
        border-radius: 10px;
         -webkit-box-shadow: inset 0 0 5px rgba(0,0,0,0.2);
        background: $accent2
    }
    .pics-list::-webkit-scrollbar-track {/*track of the scroll*/
        -webkit-box-shadow: inset 0 0 5px rgba(0,0,0,0.2);
        border-radius: 10px;
        background: lighten($background, 5);
    }
}