@import 'styles/theme';

/* The '&' is a shorthand for the containing element,
  so for example a '&.user-list' inside .game will compile to
  .game.user-list

  for more information visit https://sass-lang.com/guide
 */

.viewCard {
  &.wraper{
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  &.container {
    height: 37em;
    background: radial-gradient(closest-corner, $accent3, $accentDark);;
    width: 30em;
    padding: 1.5em;
    border-radius: $borderRadius;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: $dropShadow;
  }
  &.title-container{
    width: 25.5em;
    align-items: left;
    font-weight: 300;
    margin-left: 5px;
    color: $accent;
    display: flex;
    flex-direction: row;
  }
  &.title{
    margin-top: 0;
    margin-bottom: 0;
    font-size: 25px;
    justify-content: left;
    color: $accent1;
  }
  &.title-input{
    width: 18.5em;
    height: 35px;
    padding-left: 15px;
    border: solid;
    border-width: 1px;
    border-radius: 5px;
    border-color: $accent2;
    background-color: $accent1;
    color: $textColor;
  }
  &.image{
    margin-top: 10px;
    margin-bottom: 10px;
    width: 25em;
    height: 16.25em;
    border-radius: 10px;
    background-color: $accent1;
  }
  &.stats-list {
    align-items: center;
    list-style: none;
    padding-left: 10px;
    margin: 0;
    min-height: 12em;
    overflow:auto;
  }
  .stats-list::-webkit-scrollbar {/*overall style of the scroll*/
    width: 10px;     /*size of scroll*/
    height: 1px;
  }
  .stats-list::-webkit-scrollbar-thumb {/*thumb of the scroll*/
      border-radius: 10px;
      -webkit-box-shadow: inset 0 0 5px rgba(0,0,0,0.2);
      background: $accent2;
  }
  .stats-list::-webkit-scrollbar-track {/*track of the scroll*/
      -webkit-box-shadow: inset 0 0 5px rgba(0,0,0,0.2);
      border-radius: 10px;
      background: lighten($background, 5);
  }
  &.button-wraper {
    width: 26.3em;
    margin-top: 0;
    display: flex;
    flex-direction: row;
    align-items: center;
  }
  &.button-container {
    width: 100%;
    margin-top: 10px;
    margin-left: 10px;
    margin-right: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}

.viewCard-stat{
    &.container {
        margin: 0.5em 0;
        width: 25em;
        height: 3em;
        padding: 10px;
        border-radius: $borderRadius;
        margin-right: 10px;
        display: flex;
        align-items: center;
        background: $accent2
    }
    &.title{
      width: 10em;
      margin-top: 7px;
      margin-bottom: 0;
      font-weight: 500;
    }
    &.value{
      text-align: right;
      margin-left: 10px;
      margin-top: 7px;
      margin-bottom: 0;
      font-weight: 300;
    }
    &.name {
        margin-left: 5px;
        margin-right: 15px;
        display: flex;
        align-items: left;
        width: 10em;
    }
    &.unit-stat-wraper {
      display: flex;
      flex-direction: row;
    }
}